* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

.header {
    background-color: #069;
    color: white;
    text-align: center;
    padding: 1.5rem;

}

.header-title {
    margin: 0;
}

.section {
    padding: 1rem 1rem;
    margin: 0;
}

.section-accent {
    background-color: #069;
    color: white;
}

.section-content {
    padding: 0;
}

.skills-section {
    font-size: 1.2rem;
    font-style: italic;
}

.button {
    background-color:white;
    color: #069;
    font-size: 1rem;
    margin: 1rem;
    border-radius: .5em;
    transition-duration: 0.1s;
    outline: none;
    cursor: pointer;
}

.button:hover, button:focus {
    background-color:#1CA;
    color: #069;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.project-section, .skills-section {
    list-style: None;
    margin: 0;
}

.project-section {
    color: #777;
}

.project-list-item {
    margin-bottom: 1rem;
}

.project-list-item:last-child {
    margin: 0;
}

.contact-section {
    margin: 2rem 0;
}

.input {
    border: 1px solid #AAA;
    outline: none;
    padding: .5em;
    font-size: 1rem;
    border-radius: .2em;
    font-family: inherit;
    line-height: inherit;
}

.input:focus {
    border-color: #069;
    box-shadow: 0 0 5px 0 #069;
}

.input-no-resize {
    resize: none;
}

.footer {
    background-color: #069;
    color: white;
    font-size: 1.25rem;
    padding: 1.5rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
    align-items: center;
}

.link-list {
    display: flex;
    margin: 0;
    list-style: none;
}

.link {
    padding: .5rem;

}

.link a{
    color: inherit;
    text-decoration: none;
}

.link:hover {
    background-color: #999;
}

.leetcodemain {
    background-color: #AAA;
}

.hr {
    color:black;
}

.leetcodelink {
    text-decoration: none;
    color: black
}

.leetcodelink:hover {
    color: #333
}

img {
    margin-left: 0;
}

.introduction {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d4/Carnegie_Mellon_West_Building_23_Front_Entrance.jpg);
    background-size: cover;
    background-position-y: 65%;
    color: white;
}
