* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
    background-color:#333;
}

.header {
    background-color:#013262;
    color: white;
    text-align: center;
    padding: 1.5rem;
    animation-name: header-load;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: scale(0);
}

.header-title {
    margin: 0;
}

.section {
    padding: 1rem 1rem;
    margin: 0;
    background-color: #333;
    color: white;
}

.section-accent {
    background-color: #013262;
    color: white;
}

.section-content {
    padding: 0;
}

.skills-section {
    font-size: 1.2rem;
    font-style: italic;
}

.button {
    background-color:#069;
    color:white;
    font-size: 1rem;
    margin: 1rem;
    border-radius: .5em;
    transition-duration: 0.1s;
    outline: none;
    cursor: pointer;
}

.button:hover, button:focus {
    background-color:#1CA;
    color: #069;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.project-section, .skills-section {
    list-style: None;
    margin: 0;
}

.project-section {
    color: #777;
}
.project-section h3 {
    color: antiquewhite;
}

.project-list-item {
    margin-bottom: 1rem;
    color:white;
}
.project-list-item a {
    text-decoration: none;
}

.project-list-item:last-child {
    margin: 0;
}

.contact-section {
    margin: 2rem 0;
}

.input {
    border: 1px solid #AAA;
    outline: none;
    padding: .5em;
    font-size: 1rem;
    border-radius: .2em;
    font-family: inherit;
    line-height: inherit;
}

.input:focus {
    border-color: #069;
    box-shadow: 0 0 5px 0 #069;
}

.input-no-resize {
    resize: none;
}

.footer {
    background-color: #013262;
    color: white;
    font-size: 1.25rem;
    padding: 1.5rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
    align-items: center;
    font-style: italic;
}

.link-list {
    display: flex;
    margin: 0;
    list-style: none;
}

.link {
    padding: .5rem;
}

.link a{
    color: inherit;
    text-decoration: none;
}

.link:hover {
    background-color: #999;
}

.leetcodemain {
    background-color: #333;
}

.hr {
    color:black;
}

.leetcodelink {
    text-decoration: none;
    color: white
}

.leetcodelink:hover {
    color: #069
}

.introduction img {
    width: 150px;;
    height: 200px;
    motion-offset: 0;
}

.introduction {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d4/Carnegie_Mellon_West_Building_23_Front_Entrance.jpg);
    background-size: cover;
    background-position-y: 65%;
    color: white;
    font-style: oblique;
    font-weight: bold;
    margin-left: 0;
}

.leetcodenav {
    background-color: #777;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
    align-items: center;
    font-style: italic;
    border: 1px solid black;
    border-bottom: 0;
}

.nav li {
    animation-name: nav-load;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform: scale(0);
    animation-delay: 300ms;
}

.nav li:first-child {
    animation-name: nav-first-link-load;
    transform: translateX(-10000%);
    animation-delay: 300ms;
}

.nav li:last-child {
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
    animation-delay: 300ms;
}

.leetcodenav li {
    animation-name: nav-load;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform: scale(0);
    animation-delay: 300ms;
}

.leetcodenav li:first-child {
    animation-name: nav-first-link-load;
    transform: translateX(-10000%);
    animation-delay: 300ms;
}

.leetcodenav li:last-child {
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
    animation-delay: 300ms;
}

@keyframes header-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes nav-load {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }
    90% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }
    90% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

h2{
    animation: article-load 300ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

h3{
    animation: article-load 300ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

p {
    animation: article-load 300ms ease-in;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
 ul {
    animation: article-load 300ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
 }

 a {
    color: #00FFFF;
    animation: article-load 300ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
 }

@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


